
.btn
{
	height: 30px;
	width: 30px;
	border-radius: 20px;
	position: absolute;
	top: 50px;
	right: 170px;
	cursor: pointer;
}

 .menu
 {
 	padding: 20px 0px 30px 90px;
 	background: black;
 	color: white;
 }

 .topmenu
 {
 	background:#B2BABB;
 	display: flex;
 	padding: 0px 0px 0px 80px;
 }

 .gar
 {
 	background: #CCD1D1;
 	width: 100px;
 	height: 25px;
 	justify-content: center;
 	flex-direction: row;
 	margin: 15px 5px 15px 5px;
 	text-align: center;
    cursor: pointer;
    padding: 5px;
 	
 }

.moda
{
	height: 650px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px 50px 20px 100px;
}

.moda1
{
	height: 300px;
	width: 240px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 205px;
	right: 100px;
	padding: 10px;

}

.moda2
{
	height: 330px;
	width: 240px;
	position: absolute;
	top: 495px;
	right: 100px;
	padding: 10px
}

.moda3
{
	height: 600px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px 50px 20px 100px;
}

.moda4
{
	height: 250px;
	width: 240px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 185px;
	right: 100px;
	padding: 10px;

}

.moda5
{
	height: 320px;
	width: 240px;
	position: absolute;
	top: 435px;
	right: 100px;
	padding: 10px
}

.moda6
{
	height: 640px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px 50px 20px 100px;
}

.moda7
{
	height: 250px;
	width: 250px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 190px;
	right: 100px;
	padding: 10px;

}

.moda8
{
	height: 360px;
	width: 250px;
	position: absolute;
	top: 435px;
	right: 100px;
	padding: 10px
}

.moda9
{
	height: 600px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 30px 50px 20px 90px;
}

.moda10
{
	height: 250px;
	width: 240px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 190px;
	right: 100px;
	padding: 10px;

}

.moda11
{
	height: 320px;
	width: 240px;
	position: absolute;
	top: 430px;
	right: 100px;
	padding: 10px
}



.iniciar
{
	background: white;
	color: black;
	margin: 7px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
 	position: absolute;
 	top: 38px;
 	right: 60px;
}

.muj, .nun, .hom, .bel
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*padding: 10px;*/
}
.todo
{
	/*background: ;*/
	/*height: 200px;*/
	width: 240px;
	margin: 20px;
	display: flex;
	border: 4px solid #D0D0D0;
	border-radius: 20px;
}
.todo:hover{
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.20);
}

.elin
{
	padding: 50px 5px 0px 0px;
	text-align: center;
	width: 100px;
}

.fhoto
{
	cursor: pointer;
}

.men{
	text-align: center;
	flex-direction: column;
	width: 100%;
	background: #CCD1D1;
	
}

.nombre{
	
	padding: 3px;
	margin: 10px 10px 10px 10px; 
	width: 400px;
	display: inline-block ;
}

.comentario{
	padding: 3px;
	margin: 5px 10px;
	width: 400px;
	height: 150PX;
	display: inline-block ;
}

.ahora{
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
}

.publi{
	margin: 0px 550px 15px 550px; 
	text-align: center;
	width: 400px;
	height: 130px;
	padding: 5px;
	background: white;
	border: black solid 1px;
}


.buscar{
	position: absolute;
	top: 45px;
	right: 340px;
}

.input{
	outline: none;
	box-sizing: border-box;
	height: 35px;
	width: 250px;
	padding: 0 14px;
	color: black;
	border-radius: 50px;
	font-size: 15px;
	transition: all .7s ease;
}

/*.bus{
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
	background: white;
	line-height: 50px;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}*/

/*.bus i{
	font-size: 20px;
	color: white;
	line-height: 70px;
	transition: all .7s ease;
}*/

.buscar:hover input{
	width: 250px;
}

.busca{
	position: absolute;
	top: 10px;
	right: 10px;	
}

.redes{
	/*ckground: #CCD1D1;*/
	height: 50px;
	margin: 10px;
	text-align: center;
}

.sociales{
	margin:2px;
}

.anun{
	margin: 40px 200px;
}

.promociones{
	margin: 10px; 

}

.espacio{
	height: 40px;
	width: 130px;
	color: white;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.slider{
	width: 100%;
	height: 750px;
	overflow: hidden;
	margin: 20px 100px;
}

.slider ul{
	display: flex;
	animation: cambio 20s infinite alternate linear;
	width: 300%;
}

.slider li{
	width: 100%;
	list-style: none;
}

.slider img{
	width: 100%;
	height: 750px;
}

@keyframes cambio{
	0%{ margin-left: 0; }
	20%{ margin-left: 0; }

	25%{ margin-left: -100%; }
	45%{ margin-left: -100%; }


	50%{ margin-left: -200%; }
	70%{ margin-left: -200%	; }
}


.results{
	background: white;
	border-radius: 10px;

}

.articulo-pong{
	color: black;
	list-style: none;
	text-align: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
	display: none;      
}

.list-product{
	border-bottom: 2px solid rgba(0,0,0, 0.20);
	padding: 10px 40px;
}
a{
	text-decoration: none;
	color: black;
}


.filtro{
	display: none;
}


.escudo{
	position: absolute;
	top: 10px;
	left: 580px;
	height: 100px;
}